
@{
    ViewBag.Title = "Purchase";
    Layout = "~/Views/Shared/_Layout.cshtml";

 
}
<div class="bg">
    <div class="title"><h2>Purchase</h2></div>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/CSS/Purchase.css" rel="stylesheet" />


    @using (Html.BeginForm("Purchase", "Home", FormMethod.Post))
    {
        <div>
            Existing <input type="checkbox" id="checkboxID" />

        </div>
        <br />
        <div>
            Product Name: <input type="text" id="pnID" />
        </div>
        <br />
        <div>
            Product Name: <select id="productId" name="productId" class="form-control">
                <option value="" disabled selected hidden>---Please Choose Product---</option>
            </select>
        </div>

        <br />
        <div class="form-group">
            Category Name:  <select id="categoryId" name="categoryId" class="form-control">
                <option value="" disabled selected hidden>---Please Choose Category---</option>
            </select>
        </div>

        <br />
        <div>
            Supplier Name: <select id="supplierId" name="supplierId" class="form-control">
                <option value="" disabled selected hidden>---Please Choose Supplier---</option>
            </select>
        </div>
        <br />
        <div>
            Purchase Price: <input type="text" name="PurchasePrice" id="PurchasePriceID" value="" /> RS
        </div>
        <br />
        <div>
            Quantity: <input type="text" name="Quantity" id="QuantityId" value="" />
        </div>
        <br />
        <div>
            Total Bill: <input type="text" name="TotalBill" id="TBId" value="" /> RS
        </div>
        <br />

        <div>
            <input type="button" name="Save" id="buttonID" value="Save" onclick="saveData()" />
        </div>


    }
</div>
<script>
  
   


    getsuppliers();
    getproducts();
    TotalBill();
    getCategory();

    function getCategory() {
        $.getJSON("http://localhost:58970/api/data/getCategory", function (resp) {
            var data = JSON.parse(resp);
            $.each(data, (index, item) => {
                $('#categoryId').append(
                        '<option value="' + item.Id + '">' + item.Name + '</option>'
                    );
            });
        });
    }

    function getsuppliers() {
        $.getJSON("http://localhost:58970/api/data/getSuppliers", function (resp) {
            var data = JSON.parse(resp);
            $.each(data, (index, item) => {
                $('#supplierId').append(
                        '<option value="' + item.Id + '">' + item.Name + '</option>'
                    );
            });
        });
    };

    function getproducts() {
        $.getJSON("http://localhost:58970/api/data/getproducts", function (resp) {
            var data = JSON.parse(resp);
            $.each(data, (index, item) => {
                $('#productId').append(
                        '<option value="' + item.Id + '">' + item.Name + '</option>'
                    );
            });
        });
    }

    function TotalBill(){
        $('#PurchasePriceID').keyup(calculate);
        $('#QuantityId').keyup(calculate);
    };
    function calculate(e)
    {
        $('#TBId').val($('#PurchasePriceID').val() * $('#QuantityId').val());
    }

    var checkbox = document.querySelector("#checkboxID");
    var input = document.querySelector("#pnID");
    var dropdowninput = document.querySelector("#productId");

    var toogleInput = function (e) {
        input.disabled = e.target.checked;
        dropdowninput.disabled = !e.target.checked;
    };

    toogleInput({ target: checkbox });
    checkbox.addEventListener("change", toogleInput);

    
   

    $("#buttonID").click(function () {
        var isExisting = $('#checkboxID').prop('checked');
        var categoryId = $('#categoryId').val();
        var productName =  $('#pnID').val();
        var productId =  $('#productId').val();
        var purchaseprice =  $('#PurchasePriceID').val();
        var supplierId = $('#supplierId').val();
        var QuantityId = $('#QuantityId').val();
        var TBId = $('#TBId').val();

        var body = {
            // Model property: variables of values
            'isExisting': isExisting,
            'categoryId': categoryId,
            'productName': productName,
            'productId': productId,
            'purchaseprice': purchaseprice,
            'supplierId': supplierId,
            'QuantityId': QuantityId,
            'TBId': TBId
        }
        $.ajax({
            url: 'http://localhost:58970/api/data/addPurchase',
            type: 'POST',
            dataType: 'json',
            data: JSON.stringify(body),
            success: function (data) {
                alert(data);
            },
            error: function (xhr, textStatus, errorThrown) {
                alert('Error in Operation');
            }
        });
    });

</script>

